body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drag {
    width: 50px;
    height: 50px;
    border: 1px solid #aaaaaa;
}

.center {
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    width: 25px;
    height: 25px;
}

#home {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}